#openSidenav { /* Button to open SideNav */
    font-size: 20px;
    color: #f1f1f1;
    position: fixed;
    z-index: 1999;
    top: 0;
    padding-top: 20px;
    cursor: pointer;
}

#openSidenav#hover {
    color: #555;
}

.sidenav { /* Sidenav menu */
    height: 100%;
    width: 0; /* 0 width - change in JS */
    position: fixed;
    z-index: 2000; /*Stay on top layer (overlays everything) */
    top: 0; /*Stay at the top */
    left: 0;
    background-color: aquamarine;
    overflow-x: hidden; /* Disables horizontal scroll */
    padding-top: 60px; /* Place content 60px from top */
    transition: 0.5s; /* 0.5 second transition to slide in the sidebar */
}

.sidenav a:not(.closebtn) { /* Nav menu links */
    padding: 200px 8px 0px 32px; /* T R B L */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Change colour of links when hovering mouse over */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #818181;
}

#main { /* pushes content to right when open sidenav */
    transition: margin-left .5s;
    padding: 20px;
}



h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

#MortgageCalc {
    display: flex;          /* place text + image side by side */
    align-items: flex-start; /* align tops */
    gap: 20px;              /* space between text and image */
    margin-bottom: 40px;    /* space between projects */
}

#mortgage-text {
    flex: 1;
}

#mortgageCalcPic {
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* On smaller screens, where height is less than 450px, change style sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}